header {
	background-color: #000;
	height: 48px;
	border-bottom: 1px solid #fff;
}

h1#name {
	float: left;
	color: #ffffff;
	font-family: 'Fjalla One', sans-serif;
	font-size: 200%;
	text-transform: uppercase;
	padding: 0.25em 0 0 .5em;
}

h1#name:hover {
	color: #ddd;
}

nav {
	float: right;
	background-color: #333;
	overflow: hidden;
}

nav a {
	width: 86px;
	height: 24px;
	float: left;
	color: #f2f2f2;
	border-right: 1px solid #000;
	text-align: center;
	text-decoration: none;
	vertical-align: middle;
	text-transform: uppercase;
	font-family: 'Raleway', sans-serif;
	font-size: 14px;
	padding: 12px 0;
}

h2 {
	clear: both;
	font-family: Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif";
	font-size: 32px;
	color: #00640B;
	margin: 0 40px;
}

p {
	font-family: Georgia;
	font-size: 18px;
	line-height: 22px;
	margin: 20px 40px;
	color: #333;
}

#profile-picture {
	float: right;
	max-width: 200px;
	margin: 0 0 15px 15px;
	border: 1px solid #000;
	border-radius: 100%;
}

div#banner {
	background-image: url("../images/toronto.jpg");
	background-size: cover;
	background-position: left top;
	height: 400px;
	width: 100%;
	background-repeat: no-repeat;
	clear: both;
}

div#videoreel {
	height: 395px;
	margin: 40px;
	background-color: #333;
	text-align: center;
	padding: 40px 0;
}

cite {
	clear: both;
	font-size: 10px;
	float: right;
	color: #555555;
	font-style: italic;
	margin: 20px;
}


nav a:hover,
nav a.active:hover {
	background-color: #00bf11;
	color: black;
}

nav a.active {
	background-color: #006309;
	color: white;
}

body {
	background-color: #eee;
}

main {
	width: 90%;
	margin: 0 auto;
	padding-bottom: 100px;
}

nav ul li a {
	color: darkred;
	text-decoration: none;
}

nav ul li a:hover {
	color: #000;
}


p {
	font-family: 'Open Sans', sans-serif;
}

p a {
	color: #0000EE;
	text-decoration: underline;
}

p a:visited,
p a:active {
	color: #551A8B;
}


#features {
	clear: both;
	margin: 0 auto;
}

#features .homepage-feature {
	width: 25%;
	float: left;

}

#features .homepage-feature img {
	width: 80%;
}

#features .homepage-feature h2 {
	font-family: arial;
	color: #003366;
	text-transform: uppercase;
	margin: 10px;
	font-size: 16px;
}

#features .homepage-feature p {
	font-family: arial;
	margin: 10px;
	font-size: 14px;
}

footer {
	background: #000;
	color: #555555;
	width: 100%;
	height: 50px;
	position: relative;
	bottom: 0;
}

footer a img {
	margin: 12px 20px 0 0;
	float: right;
	text-align: center;
}

a img {
	text-decoration: none;
	border: 0 none;
}

td,
th {
	border: 1px solid black;
	padding: 1em;
}

table {
	margin: 2em auto;

}

#hp-buttons li {
	background: #006309;
	float: left;
	list-style: none;
	text-align: center;
	margin: 0 10px 0 40px;
	width: 100px;
	line-height: 50px;
}

#hp-buttons li:hover {
	background-color: #00bf11;
	color: black;
}

#hp-buttons a {
	text-decoration: none;
	color: #fff;
}

/* Slideshow */
.slideshow {
	max-width: 100%;
	position: relative;
	margin: auto;
}

/* Hide the images by default */
.mySlides {
	display: none;
}

.mySlides:hover {
	-webkit-filter: grayscale(100%);
	filter: grayscale(100%);
}

/* Next & previous buttons */
.prev,
.next {
	cursor: pointer;
	position: absolute;
	top: 50%;
	width: auto;
	margin-top: -22px;
	padding: 16px;
	color: white;
	font-weight: bold;
	font-size: 18px;
	transition: 0.6s ease;
	border-radius: 0 3px 3px 0;
	user-select: none;
}

/* Position next button to right side */
.next {
	right: 0;
	border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
	background-color: rgba(0, 0, 0, 0.8);
}

/* Caption text */
.text {
	width: 60%;
	margin: auto;
	color: #f2f2f2;
	background-color: rgba(0, 0, 0, 0.5);
	font-size: 16px;
	padding: 12px 0;
	position: absolute;
	left: 0;
	right: 0;
	bottom: 15%;
	height: 24px;
	text-align: center;

}


/* dot selector */
.dot {
	cursor: pointer;
	height: 15px;
	width: 15px;
	margin: 0 2px;
	background-color: #ddd;
	border-radius: 50%;
	display: inline-block;
	transition: background-color 0.6s ease;
}

.active,
.dot:hover {
	background-color: #717171;
}

/* Fade animation */
.fade {
	-webkit-animation-name: fade;
	-webkit-animation-duration: 1s;
	animation-name: fade;
	animation-duration: 1s;
}

@-webkit-keyframes fade {
	from {
		opacity: .5
	}

	to {
		opacity: 1
	}
}

@keyframes fade {
	from {
		opacity: .5
	}

	to {
		opacity: 1
	}
}