header {
	background-color: #000;
	height: 48px;
	border-bottom: 1px solid #fff;
}

h1#name {
	float: left;
	color: #ffffff;
	font-family: 'Fjalla One', sans-serif;
	font-size: 200%;
	text-transform: uppercase;
	padding: 0.25em 0 0 .5em;
}

h1#name:hover {
	color: #ddd;
}

nav {
	float: right;
	background-color: #222;
	overflow: hidden;
}

nav a {
	width: 86px;
	height: 24px;
	float: left;
	color: #f2f2f2;
	border-right: 1px solid #000;
	text-align: center;
	text-decoration: none;
	vertical-align: middle;
	text-transform: uppercase;
	font-family: 'Raleway', sans-serif;
	font-size: 14px;
	padding: 12px 0;
	line-height: 24px;
}

h2 {
	clear: both;
	font-family: 'Roboto Slab', serif;
	font-size: 42px;
	color: #000;
	margin: 0 40px;
}

h2.inner-header {
	clear:both;
	margin: 0;
	padding: 10px 0;
	text-align: center;
	background-color: #000;
	color: #fff;
	width: 100%;
}

p {
	font-family: 'Open Sans', sans-serif;
	font-size: 18px;
	line-height: 22px;
	margin: 20px 40px;
	color: #000;
}

p.inner-sub {
	clear: both;
	font-weight: bold;
	margin: 25px 0 10px 0;
}

.process-img{
	float: left;
	width: 49%;
	padding: 0 4px 0 0;
	margin-bottom: 20px;
}

.process-sketch-img{
	margin: 0 5px 5px 0;
	float: left;
	width: 30%;
}

/* Container so footer stays at bottom of page */
#connect-container{
	height: 700px;
}

/* Container so footer stays at bottom of page */
#home-container{
	height: 600px;
}

.connect-p {
	margin: 20px 0 20px 0;
}

.connect-icons {
	margin-right: 10px;
}

#profile-picture {
	float: right;
	max-width: 250px;
	margin: 0 0 15px 15px;
	border: 1px solid #ccc;
	border-radius: 100%;
}

div#videoreel {
	width: 100%;
	height: 365px;
	background-color: #ddd;
	text-align: center;
	padding-top: 50px;
}


nav a:hover,
nav a.active:hover {
	background-color: #00bf11;
	color: black;
}

nav a.active {
	background-color: #006309;
	color: white;
}

body {
	background-color: #eee;
}

main {
	width: 90%;
	margin: 0 auto;
	padding-bottom: 100px;
}

p a {
	color: #0000EE;
	text-decoration: underline;
}

p a:visited,
p a:active {
	color: #551A8B;
}


#features {
	margin: 10px auto;
	padding-top: 40px;
	padding-bottom: 400px;
}

#features .project-feature h2 a {
	color: #000EE0;
	text-decoration: none;
}

#features .project-feature h2 a:hover {
	color: #551A8B;
}

#features .project-feature {
	width: 25%;
	float: left;
}

#features .project-feature img {
	border: 2px solid #333;
	width: 80%;
}

#features .project-feature h2 {
	font-family: 'Open Sans', sans-serif;
	font-weight: bold;
	clear: both;
	height: 50px;
	border-bottom: 1px solid #000;
	text-transform: uppercase;
	margin: 0 20% 0 0;
	padding: 20px 3px 0 0;
	font-size: 20px;
}

#features .project-feature p {
	height: 200px;
	margin: 0px 20% 0 0;
	padding: 5px 3px;
	font-size: 14px;
}

footer {
	clear: both;
	background: #000;
	color: #555555;
	width: 100%;
	height: 50px;
	position: relative;
	bottom: 0;
}

/* Icons in footer */
footer a img {
	margin: 12px 20px 0 0;
	float: right;
	text-align: center;
}

a img {
	text-decoration: none;
	border: 0 none;
}

#hp-buttons li {
	font-family: 'Open Sans', sans-serif;
	background: #006309;
	float: left;
	list-style: none;
	text-align: center;
	margin: 0 10px 0 40px;
	width: 100px;
	line-height: 50px;
}

#hp-buttons li:hover {
	background-color: #00bf11;
	color: black;
}

#hp-buttons a {
	text-decoration: none;
	color: #fff;
}

/* Slideshow */
.slideshow {
	max-width: 100%;
	position: relative;
	margin: auto;
}

/* Hide the images by default */
.mySlides {
	display: none;
}

.mySlides:hover {
	-webkit-filter: grayscale(100%);
	filter: grayscale(100%);
}

/* Next & previous buttons */
.prev,
.next {
	cursor: pointer;
	position: absolute;
	top: 50%;
	width: auto;
	margin-top: -22px;
	padding: 16px;
	color: white;
	font-weight: bold;
	font-size: 18px;
	transition: 0.6s ease;
	border-radius: 0 3px 3px 0;
	user-select: none;
}

/* Position next button to right side */
.next {
	right: 0;
	border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
	background-color: rgba(0, 0, 0, 0.8);
}

/* Caption text */
.text {
	font-family: 'Open Sans', sans-serif;
	width: 60%;
	margin: auto;
	color: #f2f2f2;
	background-color: rgba(0, 0, 0, 0.8);
	font-size: 16px;
	padding: 14px 0;
	position: absolute;
	left: 0;
	right: 0;
	bottom: 15%;
	height: 24px;
	line-height: 24px;
	text-align: center;

}


/* dot selector */
.dot {
	cursor: pointer;
	height: 15px;
	width: 15px;
	margin: 0 2px 25px 2px;
	background-color: #ddd;
	border-radius: 50%;
	display: inline-block;
	transition: background-color 0.6s ease;
}

.active,
.dot:hover {
	background-color: #717171;
}

/* Fade animation */
.fade {
	-webkit-animation-name: fade;
	-webkit-animation-duration: 1s;
	animation-name: fade;
	animation-duration: 1s;
}

@-webkit-keyframes fade {
	from {
		opacity: .5
	}

	to {
		opacity: 1
	}
}

@keyframes fade {
	from {
		opacity: .5
	}

	to {
		opacity: 1
	}
}